/* Add here all your CSS customizations */
/*.body-error { width: auto; }*/
#pff_address { width: 100%; }
progress { width: 100% !important; max-width: 300px; }
.pager { margin: 0; }

@media only screen and (max-height: 767px) {
#paymentinfor { overflow: hidden; }
#paymentinfor > section > .row { margin-top: 15% !important; margin-left: 0; margin-right: 0; }
#paymentinfor .body-error.error-outside { height: 100%; padding: 0 20px; }
}