/* Add here all your CSS customizations */
#paymentinfor { overflow: hidden !important; }
#paymentinfor #pff_address { width: 100%; }
#paymentinfor progress { width: 100% !important; max-width: 300px; }
#paymentinfor .pager { margin: 0; }
#paymentinfor .body-error.error-outside { max-width: 550px; }
#paymentinfor .panel-body-nopadding { padding-bottom: 10px; }
#paymentinfor .panel-footer { margin-top: 0; }
#paymentinfor .form-horizontal .control-label { padding-top: 0; }

.contentbox { display: block; padding: 20px 15px; margin: 0 0 10px; font-size: 14px; color: #333333; background-color: #f5f5f5; /*border: 1px solid #cccccc;*/ border-radius: 4px; overflow: auto; }
.contentbox p { margin-bottom: 15px; }
.contentbox p:last-child { margin-bottom: 0; }

#completeRegister { overflow: hidden !important; }
#completeRegister { color: #333333; }
#completeRegister h2 { font-size: 24px; }
#completeRegister h4 { font-size: 16px; }
#completeRegister a { color: #1467ff; }
#completeRegister .body-error.error-outside { max-width: 550px; }


#completeinform .body-error.error-outside { max-width: 550px; }
#completeinform { color: #333333; }
#completeinform h2 { font-size: 24px; }
#completeinform h4 { font-size: 16px; }


body { background-image: url(http://www.planforfit.com/wp-content/themes/bucket-child/img/fullad-604.jpg) !important; background-repeat: no-repeat !important; background-position: center top !important; background-size: cover !important; background-color: #ffffff !important; -webkit-overflow-scrolling: touch; }
#paymentinfor .tab-content { overflow: auto; }

@media only screen and (max-width: 767px) {
#paymentinfor .body-error.error-outside ,
#completeRegister .body-error.error-outside ,
#completeinform .body-error.error-outside { left: 0; right: 0; }

.body-error.error-outside { height: 100vh; padding-bottom: 0; overflow: hidden; position: absolute;      }

#paymentinfor { overflow: hidden;  }
#paymentinfor > section > .row { margin-left: 0; margin-right: 0; }
#paymentinfor .body-error.error-outside { height: 100%; padding: 0 5px; }
#paymentinfor .col-lg-12 { position: absolute;  top: 0; left: 0; right: 0; bottom: 0; margin: auto; }

#completeRegister { overflow: hidden !important; }
#completeRegister > section > .row { margin-top: 55px !important; margin-left: 0; margin-right: 0; }
#completeRegister .body-error.error-outside { padding: 0; height: 100%; }
#completeRegister .panel.form-wizard { width: 100%; }
#completeRegister .col-lg-12 { position: absolute;  top: 0; left: 0; right: 0; bottom: 0; margin: auto; }

#completeinform { overflow: hidden !important; }
#completeinform > section > .row { margin-top: 55px !important; margin-left: 0; margin-right: 0; }
#completeinform .body-error.error-outside { padding: 0; height: 100%; }
#completeinform .panel.form-wizard { width: 100%; }
#completeinform .col-lg-12 { position: absolute;  top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
}
